<!-- app/views/home/index.html.erb -->

<h1 class="text-3xl font-bold mb-4">All Users</h1>

<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 bg-gray-100 gap-4">
  <% @users.each do |user| %>
    <li class="border border-gray-200 rounded-lg p-4 shadow-md hover:shadow-lg transition duration-300 ease-in-out">
      <%= link_to user_path(user) do %>
        <%= image_tag user.photo, class: "w-full h-auto rounded-lg mb-2" %>
        <p class="text-lg font-semibold text-gray-800 truncate"><%= user.name %></p>
      <% end %>
    </li>
  <% end %>
</ul>
