<% if @posts.present? %>
  <h2>User Posts</h2>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <h3><a href="#" onclick="showPost(<%= @user.id %>, <%= post.id %>)"><%= post.title %></a></h3>
        <p><%= post.text %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No posts found for this user.</p>
<% end %>

<script>
  function showPost(userId, postId) {
    window.location.href = "/users/" + userId + "/posts/" + postId;
  }
</script>
